.chatfield
{
    margin: auto;
    overflow-y: auto;
    display: inline-block;
}

.typing-effect {
  /* white-space: nowrap; */
  /* overflow: hidden; */
  display: inline-block;
  border-right: 2px solid #aaa;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #aaa;
  }
}

@media (max-width: 768px) { /* Adjust the max-width as needed for your mobile breakpoint */
    .chatfield
    {
        width: 95%;
        margin: auto;
        max-height: 80vh;
    }
}

think{
  display: none !important;
}
.buttonInput{
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 13px;
}

th, td {
  border: 1px solid #ccc;  /* <- inilah yang bikin border muncul */
  padding: 5px;
  text-align: left;
}

th {
  background-color: #dddddd4e;
}
